# Neon environments
NEON_DATABASE_URL_LOCAL=postgresql://USER:PASSWORD@LOCAL_HOST:5432/myalongside_local
NEON_DATABASE_URL_STAGING=postgresql://USER:PASSWORD@STAGING_HOST:5432/myalongside_staging
NEON_DATABASE_URL_PROD=postgresql://USER:PASSWORD@PROD_HOST:5432/myalongside_prod
