# Neon environments
NEON_DATABASE_URL_LOCAL=postgresql://USER:PASSWORD@LOCAL_HOST:5432/myalongside_local
NEON_DATABASE_URL_STAGING=postgresql://neondb_owner:npg_Zg0qVAnudx1C@ep-dark-butterfly-aqdn8qan-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NEON_DATABASE_URL_PROD=postgresql://USER:PASSWORD@PROD_HOST:5432/myalongside_prod
